#wb_header { background: #ffffff none repeat scroll center top; height: 202px; }
#wb_header { height: 202px; }
#wb_main { background: #ffffff none repeat-x scroll center center; height: 150px; padding: 0 0 80px 0; }
#wb_main { height: 150px; }
#wb_footer { background: #bf0a31 none repeat-x scroll center center; height: 80px; }
#wb_footer { height: 80px; }
body { background: #002868 none repeat scroll left top; }
.wb_sbg { background: transparent url("../gallery/299522281f72bdd23dad7b5afbeaee4d.jpg") repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 2762px; }
.root { width: 992px; height: 2762px; overflow: visible; }
#wb_element_instance0 { left: 0px; top: 140px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; z-index: 3411; }
#wb_element_instance0 ul { background: #bf0a31 none repeat scroll left top; border: 1px none #989898; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #ffffff none repeat scroll left top; }
#wb_element_instance0 li { margin: 10px 20px 10px 20px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 2px 20px 20px 20px; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #002868; line-height: 18px; background: transparent none repeat scroll center bottom; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: #002868 none repeat scroll center top; }
#wb_element_instance1 { left: 0px; top: 0px; min-width: 500px; width: 500px; min-height: 130px; height: 130px; display: block; z-index: 3412; }
#wb_element_instance1 img { width: 500px; height: 130px; }
#wb_element_instance2 { left: 10px; top: 10px; min-width: 440px; width: 440px; min-height: 24px; height: 24px; display: block; z-index: 119; }
#wb_element_instance3 { left: 870px; top: 10px; min-width: 112px; width: 112px; min-height: 31px; height: 31px; display: block; z-index: 10120; }
#wb_element_instance3 img { width: 112px; height: 31px; }
#wb_element_instance4 { left: 60px; top: 10px; min-width: 890px; width: 890px; min-height: 140px; height: 140px; display: block; z-index: 11; }
#wb_element_instance5 { left: 0px; top: 170px; display: block; z-index: 9000; }
#wb_element_instance6 { left: 0px; top: 61px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 202px; }
	#wb_main { height: 150px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 512px; }
	.root { width: 992px; height: 512px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 140px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 0px; top: 0px; min-width: 500px; width: 500px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance1 img { width: 500px; height: 130px; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 440px; width: 440px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 870px; top: 10px; min-width: 112px; width: 112px; min-height: 31px; height: 31px; display: block; }
	#wb_element_instance3 img { width: 112px; height: 31px; }
	#wb_element_instance4 { left: 60px; top: 10px; min-width: 890px; width: 890px; min-height: 140px; height: 140px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 202px; }
	#wb_main { height: 150px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 512px; }
	.root { width: 992px; height: 512px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 140px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 0px; top: 0px; min-width: 500px; width: 500px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance1 img { width: 500px; height: 130px; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 440px; width: 440px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 870px; top: 10px; min-width: 112px; width: 112px; min-height: 31px; height: 31px; display: block; }
	#wb_element_instance3 img { width: 112px; height: 31px; }
	#wb_element_instance4 { left: 60px; top: 10px; min-width: 890px; width: 890px; min-height: 140px; height: 140px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 202px; }
	#wb_main { height: 150px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 512px; }
	.root { width: 992px; height: 512px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 140px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance1 { left: 0px; top: 0px; min-width: 500px; width: 500px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance1 img { width: 500px; height: 130px; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 440px; width: 440px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 870px; top: 10px; min-width: 112px; width: 112px; min-height: 31px; height: 31px; display: block; }
	#wb_element_instance3 img { width: 112px; height: 31px; }
	#wb_element_instance4 { left: 60px; top: 10px; min-width: 890px; width: 890px; min-height: 140px; height: 140px; display: block; }
}
